
**/.terraform/*


*.tfstate
*.tfstate.*


crash.log

*.terraform.lock.*

*.tfvars


override.tf
override.tf.json
*_override.tf
*_override.tf.json


.terraformrc
terraform.rc

*consumer.zip*
*/aws/*
*.pem*
*.aws*